<div class="container my-5">
  <h1 class="mb-3">Add New Employee</h1>

  <form #form="ngForm" (ngSubmit)="addEmployee()">
    <div class="row mb-3">
      <div class="mb-3 col-md-6 col-lg-5 col-sm-12">
        <label for="name" class="form-label">Full Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          aria-describedby="emailHelp"
          required
          [(ngModel)]="addEmployeeRequest.name"
        />
      </div>

      <div class="mb-3 col-md-4 col-lg-3 col-sm-12">
        <label for="phone" class="form-label">Phone</label>
        <input
          type="tel"
          class="form-control"
          id="phone"
          name="phone"
          required
          [(ngModel)]="addEmployeeRequest.phone"
        />
      </div>

      <div class="mb-3 col-md-5 col-lg-4 col-sm-12">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          aria-describedby="emailHelp"
          required
          [(ngModel)]="addEmployeeRequest.email"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>

      <div class="mb-3 col-md-4 col-lg-3 col-sm-12">
        <label for="salary" class="form-label">Salary</label>
        <input
          type="number"
          class="form-control"
          id="salary"
          name="salary"
          required
          [(ngModel)]="addEmployeeRequest.salary"
        />
      </div>

      <div class="mb-3 col-md-5 col-lg-4 col-sm-12">
        <label for="department" class="form-label">Department</label>
        <input
          type="text"
          class="form-control"
          id="department"
          name="department"
          required
          [(ngModel)]="addEmployeeRequest.department"
        />
      </div>

      <div class="mb-3 col-md-6 col-lg-5 col-sm-12 align-items-end d-flex flex-row-reverse">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  
  </form>
</div>
